<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recipes</title>
</head>
<body>
    <p>
        <a href="/addrecipe/">Add Recipe</a>
        <a href="/addauthor/">Add Author</a>
    </p>
    {% for recipe in recipes %}
    <ul>
        <li>
             <a href="/recipes/{{recipe.id}}/">{{recipe.title}}</a> 
        </li>
    </ul>
    {% endfor %}
    <button>
        <a href="logout/">Logout</a>
    </button>
</body>
</html>